name: Build Release Artifacts and Draft Release

on:
  push:
    tags:
      - "*.*.*"

jobs:
  build-linux-binary:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Build chatsh
        run: cargo build --release --locked --verbose
      - name: Upload to Artifact
        uses: actions/upload-artifact@v3
        with:
          name: chatsh-linux
          path: target/release/chatsh
  build-darwin-binary:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build chatsh
        run: cargo build --release --locked --verbose
      - name: Upload to Artifact
        uses: actions/upload-artifact@v3
        with:
          name: chatsh-darwin
          path: target/release/chatsh
  draft-release:
    needs: [build-linux-binary, build-darwin-binary]
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v5
        name: Draft Release
        id: create-draft-release
        with:
          config-path: .github/release-drafter.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Make Directories
        run: |
          mkdir -p target/release/linux
          mkdir -p target/release/darwin
      - name: Download Linux Artifact
        uses: actions/download-artifact@v2
        with:
          name: chatsh-linux
          path: target/release/linux/chatsh
      - name: Download Darwin Artifact
        uses: actions/download-artifact@v2
        with:
          name: chatsh-darwin
          path: target/release/darwin/chatsh
      - name: Archive Linux Artifact
        run: tar -czvf target/release/chatsh-linux_x86_64.tar.gz target/release/linux/chatsh
      - name: Archive Darwin Artifact
        run: tar -czvf target/release/chatsh-darwin_x86_64.tar.gz target/release/darwin/chatsh
      - name: Calculate Checksums
        run: |
          cd target/release
          sha256sum chatsh-linux_x86_64.tar.gz > chatsh-linux_x86_64.tar.gz.sha256
          sha256sum chatsh-darwin_x86_64.tar.gz > chatsh-darwin_x86_64.tar.gz.sha256
      - name: Upload Linux Release Artifacts
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.create-draft-release.outputs.upload_url }}
          asset_path: target/release/chatsh-linux_x86_64.tar.gz
          asset_name: chatsh-linux_x86_64.tar.gz
          asset_content_type: application/gzip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload Linux Release Checksums
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.create-draft-release.outputs.upload_url }}
          asset_path: target/release/chatsh-linux_x86_64.tar.gz.sha256
          asset_name: chatsh-linux_x86_64.tar.gz.sha256
          asset_content_type: text/plain
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload Darwin Release Artifacts
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.create-draft-release.outputs.upload_url }}
          asset_path: target/release/chatsh-darwin_x86_64.tar.gz
          asset_name: chatsh-darwin_x86_64.tar.gz
          asset_content_type: application/gzip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload Darwin Release Checksums
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.create-draft-release.outputs.upload_url }}
          asset_path: target/release/chatsh-darwin_x86_64.tar.gz.sha256
          asset_name: chatsh-darwin_x86_64.tar.gz.sha256
          asset_content_type: text/plain
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
