name: Create a Pull Request to h3n4l/homebrew-chatsh

on:
  release:
    types: [published]

jobs:
  create-pr-to-h3n4l-homebrew-chatsh:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          repository: h3n4l/homebrew-chatsh
          ref: main
      - name: Make change to formula
        run: |
          echo "The current release is ${GITHUB_REF_NAME}"
          darwin_x86_64_sha256=$(curl -sL https://github.com/h3n4l/chatsh/releases/download/${GITHUB_REF_NAME}/chatsh-darwin_x86_64.tar.gz.sha256 | sed 's/  chatsh-darwin_x86_64.tar.gz//')
          echo "darwin_x86_64_sha256: $darwin_x86_64_sha256"
          linux_x86_64_sha256=$(curl -sL https://github.com/h3n4l/chatsh/releases/download/${GITHUB_REF_NAME}/chatsh-linux_x86_64.tar.gz.sha256 | sed 's/  chatsh-linux_x86_64.tar.gz//')
          echo "linux_x86_64_sha256: $linux_x86_64_sha256"

          cat << EOF > chatsh.rb
          # typed: false
          # frozen_string_literal: true

          class Chatsh < Formula
              desc "Translate text to commands in terminal."
              homepage "https://github.com/h3n4l/chatsh"
              version "${GITHUB_REF_NAME}"
              license "MIT"

              on_macos do
                  url "https://github.com/h3n4l/chatsh/releases/download/${GITHUB_REF_NAME}/chatsh-darwin_x86_64.tar.gz"
                  sha256 "${darwin_x86_64_sha256}"
                  
                  def install
                      bin.install "chatsh"
                  end
              end

              on_linux do
                  url "https://github.com/h3n4l/chatsh/releases/download/${GITHUB_REF_NAME}/chatsh-linux_x86_64.tar.gz"
                  sha256 "${linux_x86_64_sha256}"
                  
                  def install
                      bin.install "chatsh"
                  end
              end
          end
          EOF

      - uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.PAT_CREATE_PR }}
          commit-message: "feat update homebrew-h3n4l to release ${GITHUB_REF_NAME}"
          title: "feat: update homebrew-h3n4l to ${GITHUB_REF_NAME}"
          committer: h3n4l <oysterdays@gmail.com>
          author: h3n4l <oysterdays@gmail.com>
          branch: feat/release-${GITHUB_REF_NAME}
          delete-branch: true
          draft: false
          body: |
            Update homebrew-h3n4l to release ${GITHUB_REF_NAME}
            - Auto-generated by [create-pull-request][1]

            [1]: https://github.com/peter-evans/create-pull-request
